#container {
    display: flex;
    flex-direction: column;
}

#counter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    width: 50px;
    height: 50px;
    margin: auto 10px;
    border: 1px solid grey;
    border-radius: 10px;
    color: white;
    font-size: 2rem;
    &:hover {
        cursor: pointer;
        transform: scale(1.1);
        -moz-box-shadow: 2px 2px 2px #333333;
        -webkit-box-shadow:2px 2px 2px #333333;
        box-shadow: 2px 2px 2px #333333;
        transition: box-shadow 0.2s;
    }
    &__minus {
        background-color: rgba(0, 47, 255, 0.76);
    }
    &__plus {
        background-color: rgba(255, 0, 0, 0.849);
    }
}

.counter__input {
    width: 100px;
    height: 80px;
    border: 1px solid grey;
    border-radius: 20px;
    text-align: center;
    font-size: 3rem;
    &:hover {
        cursor: pointer;
    }
}

.submit {
    width: 200px;
    height: 50px;
    background-color: #92BCEA;
    margin: auto 10px;
    border: 1px solid grey;
    border-radius: 10px;
    font-size: 2rem;
    /*color: white;*/
    margin: 15px auto;
    &:hover {
        cursor: pointer;
        transform: scale(1.1);
        -moz-box-shadow: 2px 2px 2px #333333;
        -webkit-box-shadow:2px 2px 2px #333333;
        box-shadow: 2px 2px 2px #333333;
        transition: box-shadow 0.2s;
    }
}

.textarea {
    border: 1px solid grey;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 1.5rem;
}